Secrets.xcconfig
xcuserdata/
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.ipa
*.dSYM.zip
*.dSYM
.build/
Carthage/Build/
timeline.xctimeline
playground.xcworkspace
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output