//
//  Secrets.xcconfig
//  Weather-App
//
//  Created by Valera on 15.09.2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

WEATHER_CLIENT_ID = V6RJhXJfqG7uLStG5TFuF
WEATHER_CLIENT_SECRET = E9pC7YD6KVJZPN4dPpuSPJ04FgvqfW0tda62A4Qq
